<div style="width:100%">

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default" id="production_compare_pie"></div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" id="mobile_corp_compare_pie"></div>
    </div>
  </div>
</div>

