<div style="width:100%">
  　
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 代理商排名 (门票，酒店，套餐）
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
              选择指标指标
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'people_count', '人数')">人数</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator','total_money', '营收')">营收</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'order_count', '订单数')">订单数</a>
              </li>
            </ul>
            <span id="lbl_indicator">人数</span>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <div class="labeled-chart-container">
          <div class="canvas-holder">
            <canvas id="canvas" height="250" width="400"></canvas>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

