

<div style="width:100%">

  <div class="row">
    <span>l</span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              选择指标指标
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'people_count', '人数')">人数</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator','total_money', '营收')">营收</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'order_count', '订单数')">订单数</a>
              </li>
            </ul>
            <span id="lbl_indicator">人数</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>l
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 labeled-chart-container">
          <div class="canvas-holder">
            <canvas id="canvas" height="200" width="400"></canvas>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>

